.count {
    text-align: center;
    position: relative; 
}

.count .preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    color: black;
}

/* .count button {
    padding: 4px 20px;
    font-size: 16px;
    background-color: #393939;
    color: white;
    border-radius: 9999px;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
} */

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    position: relative;
}

.blogPost {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgba(0,0,0,0.22);
    border-radius: 10px;
    margin: 10px;
    
}

.blogPostMore {
    display: flex;
    align-items: center;
    transition: all 0.5s;
}

.blogPostMore:hover {
    opacity: 0.5;
}

.newPostBtn {
    margin-top: 20px;
    margin-bottom: 20px;
}

